.app-bar {
  background: "#fff";
  border-bottom: 2px solid RGBA(105, 115, 134, 0.2);
}

.divider-logo-padding {
  padding-right: 10px;
}

.divider-text-padding {
  padding-left: 5px;
}

.app-bar-logo-text {
  color: "#000";
}

@media screen and (max-width: 650px) {
  .hide-buttons {
    display: none;
  }
}
