body {
  background-color: rgb(247, 250, 249);
}

/*    PANEL AND HEADER CONTAINER     */
/* *********************************** */

.header-container {
  font-size: 0.857rem;
  display: flex;
  color: rgb(108, 117, 118);
  font-weight: 400;
}

/*       PANEL         */
/* ******************* */

.panel-container {
  font-size: 0.786rem;
  display: flex;
  flex-grow: 1;
}

.panel-spacing {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*    REQUEST TYPE     */
/* ******************* */
.requestMethod {
  width: 100px;
  text-align: left;
  padding-right: 15px;
  text-transform: uppercase;
}

.get {
  color: #3a97d4;
}

.post {
  color: #09825d;
}

.delete {
  color: #e56f4a;
}

.mutation {
  color: #48c4ba;
}

/*     API Endpoint     */
/* ******************* */

.endpointHeader {
  flex-grow: 3;
}

.endpoint {
  flex-grow: 3;
  text-align: left;
  padding-left: 5px;
  /* font-family: Menlo, Consolas, monospace; */
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  font-weight: 500;
}

/*     Response Time     */
/* ******************* */

@media screen and (max-width: 750px) {
  .responseTime {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .requestMethod {
    display: none;
  }
  .requestMethodHeader {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .endpointHeader {
    padding-left: 45px;
  }
}

/*     Request and Response Bodies     */
/* *********************************** */

.bodies-container {
  display: flex;
  width: 100%;
}

.request-body-left {
  flex: 1;
  overflow: hidden;

  padding: 1rem;
  font-size: 0.95rem;
  overflow: hidden;
}

.response-body-right {
  flex: 1;
  overflow: hidden;
  padding: 1rem;
  font-size: 0.95rem;
}

.request-header {
  text-transform: uppercase;
  text-align: center;
  color: rgb(108, 117, 118);
}
