body {
  background-color: RGBA(237, 239, 240, 1);
}

/*    PANEL AND HEADER CONTAINER     */
/* *********************************** */

.header-container {
  padding-top: 1%;
  font-size: 0.857rem;
  display: flex;
  font-weight: 400;
  color: #697386;
  background-color: RGBA(237, 239, 240, 1);
}

/*       LIST         */
/* ******************* */

.list-container {
  font-size: 0.886rem;
  display: flex;
  color: #697386;
  flex-grow: 1;
}

.list-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .list-spacing:hover {
  background-color: #f5f5f5;
} */

.list-border-success {
  border-right: 4px solid #09c997;
}

.list-border-error {
  border-right: 4px solid #ed4c59;
}

/*    REQUEST TYPE     */
/* ******************* */
.requestMethod {
  width: 100px;
  text-align: left;
  padding-right: 10px;
  text-transform: uppercase;
}

.get {
  color: #3a97d4;
}

.post {
  color: #09825d;
}

.delete {
  color: #e56f4a;
}

.mutation {
  color: #48c4ba;
}

.query {
  color: #815ae0;
}

/*     API Endpoint     */
/* ******************* */

.endpointHeader {
  flex-grow: 3;
}

.endpoint {
  flex-grow: 3;
  text-align: left;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  font-weight: 500;
  flex-basis: 100%;
}

/*     Response Time     */
/* ******************* */

@media screen and (max-width: 750px) {
  .responseTime {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .requestMethod {
    display: none;
  }
  .requestMethodHeader {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .endpointHeader {
    padding-left: 45px;
  }
}

/*     Request and Response Bodies     */
/* *********************************** */

.bodies-container {
  display: flex;
  width: 100%;
}

.request-body-left {
  flex: 1;
  overflow: hidden;

  padding: 1rem;
  font-size: 0.95rem;
  overflow: hidden;
}

.response-body-right {
  flex: 1;
  overflow: hidden;
  padding: 1rem;
  font-size: 0.95rem;
}

.request-header {
  text-transform: uppercase;
  color: rgb(108, 117, 118);
}
