.panel-padding {
  padding-right: 0.5%;
  padding-left: 0.5%;
}

.circular-progress {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1da1dc;
}
